<a href="https://colab.research.google.com/github/YangJeongA/EnglishPhonetics-2022Fall/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Programming language의 word가 variables(변수).
-> 의미를 가진 단어에 해당하는 부분이 variable

variables에 meaning(content)를 assign.

word를 조합하는 공식이 syntax
. syntax에는 조건문(if)과 반복문(for)이 있음

* 기본적으로 variable과 syntax가 programming language의 구성

# variables(변수)에 할당 가능한 값들

1) number -> int, float

2) string

3) list ≒ tuple

-> list와 tuple은 거의 비슷. 그러나 list는 item을 바꿀 수 있지만, tuple은 item을 바꿀 수 없다는 점에서 차이가 있음.

4) dict

* 변수는 크게는 두가지 종류 (number, string)인데, 이것을 여러개 묶을 수 있도록 하는 것이 list, tuple, dict

In [ ]:
a = 1

# a가 변수에 해당하고 1이 meaning(content)에 해당
# a라는 변수에 1이라는 값(내용)을 할당

In [ ]:
a = 1; print(type(a))

a = 1.1; print(type(a))

<class 'int'>
<class 'float'>

In [ ]:
a = '123'; print(type(a)); print(a[1])

a = 'hello'; print(type(a)); print(a[1])

<class 'str'>
2
<class 'str'>
e

In [ ]:
a = [1, 2, 'ab', 4]
print(type(a))
print(a[2][1])

<class 'list'>
b

In [ ]:
a = [1, 2, 3, 4]; print(type(a)); print(a[0])

<class 'list'>
1

In [ ]:
a = [1,'a', [3, '4']]
print(type(a))
print(a[0])
print(a[1])
print(a[2])
print(a[2][1])

# 변수 a에 들어있는 항목은 기본적으로 3개. 이때 세번째 항목이 list이고, 이 세번째 항목(list)을 이루고 있는 elements가 2개

<class 'list'>
1
a
[3, '4']
4

In [ ]:
a =	{"a": "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])

# dictionary

<class 'dict'>
apple

# number; int, float

variables 중 number (int, float)

In [ ]:
a = 1
b = 2
c = 5

In [ ]:
d = a+b+c

In [ ]:
a = 1; print(type(a))

<class 'int'>

In [ ]:
a = 1; type(a)

int

variable a의 Type은 int(정수)

In [ ]:
print(a)

1

print함수를 사용하면 논항의 변수가 가지는 content가 나오고,

type함수를 사용하면 변수의 type이 나옴.

# string

In [ ]:
a = '123'
b = "123"

In [ ]:
a = '456'; print(type(a))

<class 'str'>

앞뒤로 qoute 표시 해주면 string

In [ ]:
a = 'hello'; print(type(a))

<class 'str'>

#list

list

-> [ ]를 사용하여 여러 개를 담을 수 있음

In [ ]:
a = [1, 2, 3, 4]; print(type(a))

<class 'list'>

In [ ]:
a = [1, 'a', [3, '4']]

list 안에는 number, string, list, tuple 등 모두 들어갈 수 있음.

# indexing / slicing

### indexing

In [ ]:
a = [1, 2, 3, 4]

In [ ]:
a[0]

1

python은 0번째부터 시작됨!

제일 마지막 줄 코드는 print를 해주지 않아도 값이 나옴

In [ ]:
a = 'abc'
a[0]

'a'

### slicing

In [ ]:
a[1:2]

'b'

a[1:4]라고 하면, 1~3번째 값만 출력됨. 4번째(마지막)값은 출력x

In [ ]:
a[2:]

'c'

In [ ]:
a[:4]

'abc'

In [ ]:
a[2:-1]

''

In [ ]:
a[:]

'abc'

In [ ]:
b = [1, 'a', [3, '4']]

In [ ]:
b[2][1]

'4'

string에도 indexing 동일하게 적용 가능

-> sequence data type 모두에 indexing, slicing 적용 가능

In [ ]:
c = 'abcedf123'

In [ ]:
a[:3]

'abc'

In [ ]:
a[3:-1]

''

# list와 tuple

In [ ]:
a = [1, 2, 3]

In [ ]:
a[1] = 1

# list item 변경

In [ ]:
print(a)

[1, 1, 3]

list는 item 바꿀 수 있음

In [ ]:
a = (1, 2, 3)

In [ ]:
a[1] = 1

TypeError: ignored

tuple은 item 바꾸기 불가능

-> 코딩하다가 실수로 지우는 걸 방지하기 위해 만들어진 것이 tuple

# dict
(dictionary)

In [ ]:
a = {"a": "apple", "b": "orange", 'c': 2014}

dict에서는 순서가 중요한 것이 아니라 제목값(key값)이 중요.

-> 제목값이 access를 가능하게 하는 하나의 key 값 (위의 변수 a의 경우 'a', 'b', 'c' 가 제목값)

In [ ]:
a["a"]

'apple'

a라는 key값을 실행하면 apple이 출력됨

In [ ]:
a = {aa : apple}

NameError: ignored

In [ ]:
a = {aa : apple}

key 값의 aa는 그냥 변수이므로 error발생

In [ ]:
a = {123 : 'apple'}

key 값에 숫자 올 수 o